
/****************************************************PAGE STYLES ******************************************************************/
.mainPage{
  background: #dddde4;
  min-height:1000px;
  width:100%;
}


/**************************************************** Header Styles *****************************************************************/

@media (min-width: 1601px) and (max-width: 1920px) {
  
  .appHeader{
    height:100px;
    padding-top: 18px;
    max-width: 1080px;
    text-align: center;
    margin: auto;
    
  }

  .debtProtectionEnro{
    height:39px;
    width:446px;
    color:#0A223F;
    font-family:Montserret;
    font-size:32px;
    line-height: 39px;
  }

  .logoStyle{
    height: 53px !important;
    width:206px;
  }
  
}

@media (min-width: 1025px) and (max-width: 1600px) {
  
  
  .appHeader{
    height:100px;
    padding-top: 18px;
    margin-left:24px;
    margin-right:24px;
    width: 1080px;
  }

  .debtProtectionEnro{
    height:39px;
    width:446px;
    color:#0A223F;
    font-family:Montserret;
    font-size:32px;
    line-height: 39px;
  }
  .logoStyle{
    height: 53px !important;
    width:206px;
  }
  
}

@media (min-width: 769px) and (max-width: 1024px) {
  .mainArea{
    width: 100%;
  }
  .appHeader{
    height:100px;
    padding-top: 18px;
    margin-left:24px;
    margin-right:24px;
    
  }

  .debtProtectionEnro{
    height:39px;
    width:446px;
    color:#0A223F;
    font-family:Montserret;
    font-size:24px;
    line-height: 32px;
  }

  .logoStyle{
    height: 53px !important;
    width:206px;
  }
  
}

@media (min-width: 376px) and (max-width: 768px) {
  .mainArea{
    width: 100%;
  }
  .appHeader{
    height:100px;
    padding-top: 18px;
    margin-left:24px;
    margin-right:24px;
    
  }

  .debtProtectionEnro{
    height:39px;
    width:446px;
    color:#0A223F;
    font-family:Montserret;
    font-size:24px;
    line-height: 32px;
    word-wrap: break-word;
  }

  .logoStyle{
    height: 53px !important;
    width:206px;
  }
  
}

@media (max-width: 375px) {
 
  .appHeader{
    padding-top: 18px;
    max-width: 1080px;
    margin-bottom: 20px !important;
  }
  .row.appHeader {
    margin: 0 auto;
    margin-bottom: 20px;
}

  .logoStyle{
    height: 36px ;
    width:140px;
  }
  
  .lineLogo {
    border-right: none;
    height: 60px;
    box-sizing: border-box;
    width:2px;
  
  }
  .headerTitle{
    visibility: hidden;
  }

  .lockIcon{
    visibility: hidden;
  }

  .lineLogo {
    border-right: none;
    height: 60px;
    width:0px;
  }

}

.headerContainer{
  background: #fff;
  width:100%;
  padding-top: 15px;
  padding-top: 18px;
  margin-right: 0px;
  margin-left: 0px; 
}

.phoneIconStyle{
  height: 40px ;
  width: 40px ;
}

.lockIconStyle{
  height: 30px !important;
}

.lineLogo {
  border-right: 1px solid #C6CCD4;
  height: 60px;
  box-sizing: border-box;
  width:2px;

}
.debtProtectionEnro{
  height:39px;
  width:446px;
  color:#0A223F;
  font-family:Montserret;
  font-size:32px;
  line-height: 39px;
}
.secure{
  height:12px;
  width:42px;
  color:rgba(0,0,0,0.3);
  font-family:Montserret;
  font-size:10px;
  font-weight: 500px;
  line-height: 39px;
  text-align: center;
}
.secureIcon{
  height:16px;
  width:16px;
  text-align: center;
}
.debtProtectionText{
  font-weight: bold;
  color: rgb(9, 138, 171);
}

/*******************************************************Disclosures *****************************************************************/

.disclosurerContainer{
  background: #fff;
  width:100%;
  padding-top: 15px;
  /* padding-top: 18px; */
  margin-top: 300px;
  margin-right: 0px;
  margin-left: 0px; 
}

.disclosureBody {
  /* max-width: 1080px; */
  border: 1px solid #C6CCD4;
  margin: 2px;
  padding: 10px;
}
.disclosuresDiv{
  border-radius: 3px;
  overflow-y: auto;
  font-family:Montserret-Regular;
}
.h6, h6 {
  font-size: 0.9em;
}
.privacypolicyBody {
  font-size: 0.8em;
  text-align: center;
  margin: 0 auto;
  margin-top: 450px;
  max-width: 1080px;
}
.row.appFooter {
  margin: 0 auto;
  background: #59606E;
  padding-top: 30px;
  padding-bottom: 10px;
  color: white;
  font-size: 0.6em;
  padding-left: 30px;
  margin-top: 600px;
}
.row.appFooterCopyright {
  margin: 0 auto;
  background: #384149;
  text-align: center;
  color: white;
  font-size: 0.6em;
  padding-top: 10px;
}
.row.appFooterCopyright label {
  font-weight: normal;
}
.footerLeftText {
  width: 50%;
  float: left;
  margin-top: 20px;
}
.privacypolicyBody {
 
  width: 96%;
}
.footerContent {
  width: 1080px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1080px) {
  
    .mainArea {
     max-width: 1080px !important;
  }
  
}
.cbox p {
  float: right;
  margin-right: 13px;
  margin-top: 3px;
  margin-bottom: 0;
}