body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.logoStyle{
  height: 45% !important;
}
.accordion {
  border-radius: 5px;
  border: 1px solid #d9d9d9; }
  .accordion .accordion-item:first-child .title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .accordion .accordion-item:last-child .title {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .accordion .accordion-item .title {
    background-color: #f6f6f6;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s; }
    .accordion .accordion-item .title:after {
      content: '\02795';
      /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      color: #777;
      float: right;
      margin-left: 5px; }
  .accordion .accordion-item .panel {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden; }
  .accordion .accordion-item.active .title {
    background-color: #eeeeee; }
    .accordion .accordion-item.active .title:after {
      content: '\2796';
      /* Unicode character for "minus" sign (-) */ }
  .accordion .accordion-item.active .panel {
    max-height: 800px;
    transition: max-height 0.25s ease-in; }

    /* checkbox styles */

    .cbox {
      width: 50px;
      height: 30px;
      background: lightgray;
      float: left;
      margin: 2px;
  }
  .checkQuestion {
    overflow: auto;
}
p.question {
  margin-top: 20px;
}
.mainArea {
  width: 1200px;
  margin: 0 auto;
  background: white;
  padding: 50px;
  margin-top: 30px;
}
h3.mainHeading {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(9, 138, 171);
  font-weight: bold;
}
.panel {
  background: #eeeeee;
}
input.radioBtn {
  width: 18px;
  height: 18px;
  margin: 6px;
}
.panel {
  padding-left: 20px;
  padding-right: 20px;
}
label {
  font-weight: bold;
}
h5 {
  font-weight: bold;
  font-size: 15px;
}
button.btn.btn-success {
  font-size: 12px;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
}
p.monthlyPayment {
  color: darkgreen;
}