body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.logoStyle{
  /* height: 45% !important; */
}
.accordion {
  border-radius: 5px;
  border: 1px solid #d9d9d9; }
  .accordion .accordion-item:first-child .title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .accordion .accordion-item:last-child .title {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .accordion .accordion-item .title {
    background-color: #f6f6f6;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s; }
    .accordion .accordion-item .title:after {
      content: '\02795';
      /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      color: #777;
      float: right;
      margin-left: 5px; }
  .accordion .accordion-item .panel {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden; }
  .accordion .accordion-item.active .title {
    background-color: #eeeeee; }
    .accordion .accordion-item.active .title:after {
      content: '\2796';
      /* Unicode character for "minus" sign (-) */ }
  .accordion .accordion-item.active .panel {
    max-height: 800px;
    transition: max-height 0.25s ease-in; }

    /* checkbox styles */

    .cbox {
      width: 70px;
      height: 30px;
      background: lightgray;
      float: left;
      margin: 2px;
  }
  .checkQuestion {
    overflow: auto;
}
p.question {
  margin-top: 20px;
}
.mainArea {
  margin: 0 auto;
  background: white;
  padding: 50px;
  margin-top: 30px;
  max-width: 1080px;
}
h3.mainHeading {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(9, 138, 171);
  font-weight: bold;
}
.panel {
  background: #eeeeee;
}
input.radioBtn {
  width: 18px;
  height: 18px;
  margin: 6px;
}
.panel {
  padding-left: 20px;
  padding-right: 20px;
}
label {
  font-weight: bold;
}
h5 {
  font-weight: bold;
  font-size: 15px;
}
button.btn.btn-success {
  font-size: 12px;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
}
p.monthlyPayment {
  color: darkgreen;
}
.footerImages li {
  display: inline-block;
}
.footerImages img {
  width: 110px;
  height: 65px;
  margin-right: 5px;
}
.footerImages {
  width: 50%;
  float: left;
}
.footerImages p {
  margin: 0;
}
.row.appHeader {
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .headerContainer {
   width: 100%;
   }
   .headerTitle{
     display: none;
   }
   .lockIcon{
     display: none;
   }
   .lineLogo {
    border-right: 1px solid #C6CCD4;
    width: 150px;
    box-sizing: border-box;
    height: 50px;
}
.logoStyle {
  width: 100%;
  height: 80%;
}
.phoneIcon {
  position: absolute;
  right: 20px;
}
.phoneIconStyle {
  float: right;
}
.phoneIcon {
  position: absolute;
  right: 20px;
}
}
@media (min-width: 768px) and (max-width: 1080px) {
  .headerContainer {
    width: 100%;
    }
  
}
@media (max-width: 768px) {
  .footerLeftText {
    width: 100%;
    float: left;
    text-align: center;
}
.footerImages {
  width: 100%;
  float: left;
  text-align: center;
}
.footerImages li {
  width: 70px;
  margin: 3px;
}
.footerImages img {
  width: 100%;
  height: 65px;
  margin-right: 5px;
}
.mainArea {
  padding: 0;
  margin-top: 0;
}
h3.mainHeading {
 font-size: 15px;
}
}

.phoneIconStyle {
 margin-top: 10px;
}
.footerImages ul {
  margin: 0;
  padding: 0;
}
.cbox p {
  float: right;
  margin-right: 13px;
  margin-top: 3px;
  margin-bottom: 0;
}